{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Login - TravelTogether{% endblock %}

{% block content %}
<style>
    .google-btn img {
        width: 20px;
        margin-right: 10px;
    }
    .google-btn {
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 25px;
    }
    .google-btn:hover {
        background-color: #2c303b;
        color: #c5c5c5;
    }
</style>

<div class="container d-flex justify-content-center align-items-center">
    <div class="col-md-6">
        <div class="card p-5">
            <div class="card-body text-center">
                <h3 class="card-title mb-4">Login to TravelTogether</h3>
                <a href="{% provider_login_url 'google' %}" class="btn google-btn mt-3">
                    <img src="{% static 'google.webp' %}" alt="Google Login"> Login with Google
                </a>
            </div>
        </div>
    </div>
</div>


{% endblock %}
