{% extends "base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Login - TravelTogether{% endblock %}

{% block content %}
{% load socialaccount %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body text-center">
                        <h3 class="card-title">Login to TravelTogether</h3>
                        <a href="{% provider_login_url 'google' %}" style="background-color: white" class="btn mt-3">
                            <img src="{% static 'google.webp' %}" alt="Google Login" style="width: 20px; margin-right: 10px;"> Login with Google
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<footer class="footer mt-auto py-2 bg-light text-center">
    <div class="container">
        <span class="text-muted">&copy; 2024 TravelTogether</span><br>
        <span class="text-muted">Made by <a href="https://www.facebook.com/mahabub.sheikh.13" target="_blank">Mahabub Sheikh</a></span>
    </div>
</footer>

{% endblock %}
