{% extends "base.html" %}
{% block title %}Notifications - TravelTogether{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Notifications</h2>
    <ul class="list-group">
        {% for notification in notifications %}
            <li class="list-group-item {% if not notification.read %}list-group-item-warning{% endif %}">
                {{ notification.message|safe }}
                <a href="{% url 'mark_as_read' notification.id %}" class="btn btn-sm btn-secondary float-right">Mark as Read</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
